WEBSITE_FQDN {
    tls YOUR_EMAIL {
        # Use this for testing
        ca https://acme-staging-v02.api.letsencrypt.org/directory
    }
    log stdout
    errors stdout
    proxy / localhost:8080 {
        websocket
        header_upstream -Origin
    }
    
    proxy /deluge localhost:18888/ {
        websocket
        header_upstream -Origin
        header_upstream X-Deluge-Base "/deluge/"
        without /deluge
    }
}