$website_fqdn$ {
    tls $your_email$ {
        # Use this for testing
        # ca https://acme-staging-v02.api.letsencrypt.org/directory
    }

    reverse_proxy https://study.b777.club {
        header_up Host {upstream_hostport}
        header_up X-Forwarded-Host {host}
    }

    reverse_proxy /lucky localhost:14882 {
        header_up Host {upstream_hostport}
        header_up X-Forwarded-Host {host}
    }

    reverse_proxy /deluge localhost:18888/ {
        header_up Host {upstream_hostport}
        header_up X-Forwarded-Host {host}
        header_up X-Deluge-Base "/deluge/"
        # without /deluge
    }
}
